@import "tailwindcss";

:root {
  /* Dark Mode dominant */
  --background: #09090b;
  --foreground: #ededed;

  /* Accents */
  --neon-cyan: #00f3ff;
  --neon-purple: #b000ff;
}

@theme {
  /* O Tailwind vai ler as variáveis que definimos no layout.tsx */
  --font-sans: var(--font-sans); 
  --font-mono: var(--font-mono);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-neon-cyan: var(--neon-cyan);
  --color-neon-purple: var(--neon-purple);
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

body {
  color: var(--foreground);
  font-family: var(--font-sans);
  background-color: transparent;
  /* Melhora a renderização da fonte nova */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}