@import "tailwindcss";

:root {
  /* Dark Mode dominant (Zinc-950) */
  --background: #09090b;
  --foreground: #ededed;

  /* Accents */
  --neon-cyan: #00f3ff;
  --neon-purple: #b000ff;
}

@theme {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-jetbrains-mono);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-neon-cyan: var(--neon-cyan);
  --color-neon-purple: var(--neon-purple);
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

body {
  color: var(--foreground);
  font-family: var(--font-sans);
  background-color: transparent;
}